.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

composer.lock

/.idea

/vendor/
/application/vendor/
/application/vendor/*

# IDE Files
#-------------------------

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
*.swp
/.editorconfig
components/
composer.phar

/application/config/main_url.php
/application/config/db_settings.php